<h1 style="text-align:center">
CLASE 3: ANÁLISIS DE DATOS
</h1>

### Tematica
- Usar la biblioteca de analisis de datos mas usada en el mundo: <a style="font-weight: bold">Pandas</a>
- Cargar datos de un archivo <a style="font-weight: bold">excel</a>
- Realizar una analisis exploratorio de los datos
- Generar estadisticas
- Generar graficos interativos con la libreria <a style="font-weight: bold">Plotly</a>

### Bibliotecas

| Biblioteca | Comando (Terminal)              | Función |
|------------|---------------------------------|----------|
| pandas     | `pip install pandas`            | Análisis de datos |
| openpyxl   | `pip install openpyxl`          | Manejo excel |
| plotly     | `pip install plotly nbformat`   | Generador de graficos |

### Pandas
- Cargar datos del archivo excel
- Probar algunos metodos

In [ ]:
import pandas as pd

# leer archivo excel
data = pd.read_excel("ventas.xlsx")

# Traer los primeros registros
data.head()

In [ ]:
# Traer los ultimos registros
data.tail()

In [ ]:
# Cantidad de filas y columnas
data.shape

In [ ]:
# Informacion sobre las columnas
data.info()

In [ ]:
# Estadisticas sobre la columna precio
data.describe()

In [ ]:
# Traer valores unicos de la columna especifica
data['tienda'].unique()

In [ ]:
# Conteo de valores
data['tienda'].value_counts()

In [ ]:
# Agrupa por la columna tienda y suma los valores de la columna precio
data.groupby('tienda')['precio'].sum()

### Plotly
- Graficos interativos
- Visualizacion de datos

In [ ]:
import plotly.express as px

# Ver las tiendas y cuantas veces aparece en la data
px.histogram(data, x='tienda')

In [ ]:
# Ver tiendas y formas de pago (color)
px.histogram(data,
             x='tienda',
             text_auto=True,
             title='Facturacion',
             color='forma_pago')

In [ ]:
# Guardar grafico
grafico = px.histogram(data,
             x='tienda',
             text_auto=True,
             title='Facturacion',
             color='forma_pago')

grafico.show()
grafico.write_html('Facturacion.html')

In [ ]:
# Asegurarte que fecha sea datetime
data['fecha'] = pd.to_datetime(data['fecha'])

# Crear columna año-mes
data['anio_mes'] = data['fecha'].dt.to_period('M').astype(str)

# Agrupando los datos
agrupando = data.groupby(['tienda','anio_mes']).precio.sum().to_frame()

# Reset de los indices
agrupando.reset_index(inplace=True)

# Crear una columna con el valor acumulado
agrupando['acumulado'] = agrupando.groupby('tienda').precio.cumsum()

# Generar grafico
figura = px.bar(agrupando,
                x='acumulado',
                y='tienda',
                color='tienda',
                text_auto=True,
                range_x=[0,160000],
                animation_frame='anio_mes')

figura.show()

### Listas y Comado FOR

In [4]:
# Crear lista
lista_nombres = ['Juan','Andres','Mateo']

# Iterar lista
for nombre in lista_nombres:
    print(nombre)

Juan
Andres
Mateo